@font-face {
    font-family: 'Lovechild';
    src: url('/fonts/lovechild_regular.woff2') format('woff2'), 
         url('/fonts/Lovechild-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  