---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="Sobre Mí">
  <section class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-4">Sobre Mí</h1>
    <p class="text-lg">
      [Escribe aquí sobre tu experiencia, formación y pasión por la puericultura
      y ser doula.]
    </p>
  </section>
</BaseLayout>
