<section class="flex items-center justify-center py-12 px-4">
  <div
    class="max-w-2xl text-center bg-orange-2 text-white-1 rounded-2xl p-8 shadow-lg"
  >
    <!-- Título -->
    <h2 class="text-3xl md:text-4xl font-serif mb-4">Reserva tu consulta</h2>

    <!-- Descripción -->
    <p class="text-lg md:text-xl mb-6 font-sans text-white-1">
      Reserva tu consulta personalizada ahora mismo y permíteme ser tu apoyo en
      este emocionante viaje hacia la maternidad. Juntas crearemos un espacio
      seguro donde puedas expresarte libremente, compartir tus alegrías y
      preocupaciones, y recibir la orientación y el amor que necesitas para
      recibir a tu bebé con confianza y serenidad.
    </p>

    <!-- Botón -->
    <a
      href="https://wa.me/tu-numero-de-whatsapp"
      class="inline-flex items-center justify-center bg-white-1 text-orange-2 hover:bg-orange-600 hover:text-white-1 font-sans py-3 px-6 rounded-full shadow-md transition-all duration-300"
    >
      Reservar
    </a>
  </div>
</section>
