---

---

<section class="relative bg-orange-3 text-white-1 py-24">
  <div class="container mx-auto px-4">
    <!-- Título y Descripción Centrados -->
    <div
      class="mb-12 opacity-0 transform translate-y-10 transition-all duration-700 text-center"
      data-animate
    >
      <!-- Título -->
      <h2 class="text-6xl md:text-8xl mb-6 font-serif">Espacio Amapola</h2>

      <!-- Descripción -->
      <p class="font-sans text-base md:text-xl mr-8 ml-8 mt-8 mb-8">
        Pensamos un lugar para las familias que buscan llegar con seguridad y
        confianza al encuentro con su bebé.
      </p>
    </div>
  </div>

  <!-- Script para manejar las animaciones al hacer scroll -->
  <script is:inline>
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("opacity-0", "translate-y-10");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    // Seleccionamos todos los elementos con el atributo data-animate
    const animateElements = document.querySelectorAll("[data-animate]");
    animateElements.forEach((el) => {
      observer.observe(el);
    });
  </script>
</section>
