<section class="flex items-center justify-center py-12 px-4">
  <div
    class="max-w-2xl text-center bg-orange-2 text-white-1 rounded-2xl p-8 shadow-lg"
  >
    <!-- Título -->
    <h2 class="text-3xl md:text-4xl font-serif mb-4">Reserva tu consulta</h2>

    <!-- Descripción -->
    <p class="text-lg md:text-xl mb-6 font-sans text-white-1">
      Reserva tu consulta personalizada ahora mismo y permíteme ser tu apoyo en
      este emocionante viaje hacia la maternidad. Juntas crearemos un espacio
      seguro donde puedas expresarte libremente, compartir tus alegrías y
      preocupaciones, y recibir la orientación y el amor que necesitas para
      recibir a tu bebé con confianza y serenidad.
    </p>

    <!-- Botón -->
    <a
      href="https://wa.me/tu-numero-de-whatsapp"
      class="inline-flex items-center justify-center bg-white-1 text-orange-2 hover:bg-orange-600 hover:text-white-1 font-sans py-3 px-6 rounded-full shadow-md transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="orange"
        class="w-5 h-5 mr-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M13.601 2.326a7.43 7.43 0 0 0-10.54 0 7.43 7.43 0 0 0 0 10.54L1.5 14.499l1.633-1.633a7.43 7.43 0 0 0 10.54-10.54zm-2.82 8.287c-.121.34-.695.648-1.017.67-.276.021-.552.01-.826.005-.31-.006-.518-.226-.747-.41a5.93 5.93 0 0 1-1.23-1.104 4.387 4.387 0 0 1-.7-1.064c-.06-.114-.08-.234-.07-.36.006-.148.047-.294.14-.417.111-.145.224-.29.342-.434.074-.096.15-.192.246-.268.03-.025.069-.045.108-.05.094-.007.184.006.277.023.083.015.165.044.243.074.07.027.139.059.205.1.07.042.135.096.205.137.125.076.236.178.34.28.152.151.303.304.45.455.05.05.11.096.155.148.064.065.124.137.18.211.036.05.072.1.1.155.061.113.055.225-.005.334-.084.147-.168.295-.253.442-.067.115-.137.23-.205.345-.04.069-.074.14-.105.211-.024.053-.063.099-.107.142-.037.035-.081.057-.125.071-.07.021-.145.006-.215-.017a3.5 3.5 0 0 1-.406-.148c-.053-.02-.103-.043-.157-.065-.09-.04-.181-.081-.27-.127-.023-.012-.045-.025-.07-.037-.14-.075-.284-.154-.427-.233-.017-.01-.032-.022-.048-.033-.056-.038-.112-.077-.167-.116-.08-.057-.161-.116-.24-.175-.033-.023-.065-.046-.1-.067a4.087 4.087 0 0 1-.81-.616.937.937 0 0 1-.184-.192c-.055-.065-.1-.135-.142-.21-.036-.066-.05-.141-.04-.217a.936.936 0 0 1 .165-.341c.054-.081.114-.16.18-.235.058-.065.117-.127.176-.192.063-.07.127-.137.19-.206.07-.076.142-.15.214-.227.034-.037.066-.075.1-.112a.933.933 0 0 1 1.339-.093c.061.052.115.114.168.177a5.964 5.964 0 0 0 1.63 1.62c.113.078.229.155.342.235.11.076.226.152.34.23.052.035.104.074.157.113.07.053.137.11.208.164.07.052.135.113.208.164.033.025.068.047.1.072.084.062.173.12.261.18.062.041.124.083.187.123.045.03.086.065.132.092.104.06.216.115.321.177.092.054.188.104.283.156.024.013.048.027.072.04.033.018.067.037.1.056a.937.937 0 0 1 .488.71c.01.068-.002.135-.03.197-.053.127-.1.256-.145.385z"
        ></path>
      </svg>
      Reservar
    </a>
  </div>
</section>
