---
const currentUrl = new URL(Astro.request.url).pathname;

const navItems = [
  { title: "Inicio", href: "/" },
  { title: "Sobre mí", href: "/sobre-mi" },
  { title: "Encuentros", href: "/encuentros" },
  { title: "Contacto", href: "/contacto" },
];

const whatsappNumber = "1132873292";
---

<header class="fixed top-0 w-full bg-fondo-claro shadow z-50 bg-orange-50">
  <div class="container mx-auto flex items-center justify-between p-4">
    <!-- Logo y Marca -->
    <div class="flex items-center">
      <a href="/" class="flex items-center">
        <img src="./src/assets/images/logo_s.png" alt="Logo" class="h-8 mr-4" />
        <span class="text-xl font-semibold text-orange-2 font-serif"
          >Espacio Amapola</span
        >
      </a>
    </div>

    <!-- Menú de Navegación -->
    <nav class="flex-1">
      <ul class="flex justify-center space-x-8">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={`text-orange-2 hover:text-orange-1 ${
                  currentUrl === item.href ? "font-bold" : ""
                }`}
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <!-- Botón de WhatsApp -->
    <div>
      <a
        href={`https://wa.me/${whatsappNumber}`}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center bg-orange-2 text-white-1 px-4 py-2 rounded-full hover:bg-orange-1 hover:text-orange-2 hover:font-semibold"
      >
        <!-- Reemplazamos el SVG con una imagen -->
        <img
          src="/src/assets/images/whatsapp.svg"
          alt="WhatsApp Icon"
          class="h-5 w-5 mr-2"
        />
        Reservar
      </a>
    </div>
  </div>
</header>
