---

---

<section
  class="relative flex items-center justify-center h-screen bg-center bg-cover bg-hero-bg"
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-40"></div>

  <!-- Contenido -->
  <div class="relative z-10 text-center text-white-1 px-4">
    <h1 class="text-4xl md:text-6xl font-semibold mb-4 font-serif">
      Abrazá tu maternidad
    </h1>
    <p class="text-lg md:text-2xl mb-8">
      Te acompaño desde el embarazo, <br />
      estando presente en cada etapa y favoreciendo la conexión con vos misma,
      <br />
      con tu bebé y tu pareja.
    </p>
    <a
      href="/encuentros"
      class="inline-block bg-orange-2 hover:bg-orange-1 hover:text-orange-600 text-white font-semibold py-3 px-6 rounded-full"
    >
      Quiero saber más
    </a>
  </div>
  <img
    src="/src/assets/images/wave-intersect.svg"
    alt="Wave transition"
    class="absolute bottom-0 w-full h-auto"
  />
</section>
