<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  {plans.map((plan, index) => (
    <a
      href="/encuentros"
      class="relative group block w-full h-[350px] md:h-[500px] rounded-lg overflow-hidden shadow-lg opacity-0 transform translate-y-10 transition-all duration-700"
      style={`transition-delay: ${(index + 1) * 200}ms`}
      data-animate
    >
      <!-- Imagen -->
      <div
        class="absolute inset-0 bg-cover bg-center transition-transform duration-500 group-hover:scale-110"
        style={`background-image: url(${plan.image}); filter: brightness(60%);`}
      ></div>

      <!-- Overlay para mejorar la legibilidad -->
      <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-500"></div>

      <!-- Título Inicial -->
      <div class="absolute inset-0 flex items-center justify-center">
        <h3 class="text-4xl font-semibold font-serif text-white-1 group-hover:opacity-0 transition-opacity duration-500">
          {plan.title}
        </h3>
      </div>

      <!-- Texto al Hover -->
      <div
        class="absolute inset-0 bg-transparent flex flex-col justify-center items-center text-center p-6 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
      >
        <p class="text-white-1">{plan.description}</p>
        <button
          class="mt-4 bg-orange-2 hover:bg-orange-3 text-white-1 font-semibold py-2 px-4 rounded"
        >
          Ver más
        </button>
      </div>
    </a>
  ))}
</div>
