---
import Header from "../components/Reusable/Header.astro";
import Footer from "../components/Reusable/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/dist/output.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Espacio Amapola</title>
  </head>
  <body class="flex flex-col min-h-screen bg-orange-50">
    <Header />
    <slot class="flex-grow" />
    <Footer />
  </body>
</html>
